{{#*inline "item-list"}}
    <li class="item flexrow" data-item-id="{{_id}}">
        <a class="item-name {{ @root.rollableClass }} item-roll" data-action="rollItem" data-item-id="{{_id}}" draggable="true">
            <h3>{{name}}</h3>
        </a>
        <div class="item-bonus">
            <div class="bonus-input-group"> 
                <input type="number" name="system.roll.diceBonus" value="{{system.roll.diceBonus}}" min="-99" max="99">
                {{#if @root.editable}}
                <i class="fa-solid fa-circle-plus" data-action="incrementBonus" data-item-id="{{_id}}"></i>
                <i class="fa-solid fa-circle-minus" data-action="decrementBonus" data-item-id="{{_id}}"></i>
                {{/if}}
            </div>
        </div>
        <div class="item-calculated-value">{{system.calculatedValue}}</div>
        <div class="item-total">{{system.totalValue}}</div>
        {{#if @root.editable}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </li>
{{/inline}}

{{#*inline "talent-category"}}
    <div class="talent-category flexcol">
        <filigree-box class="talents header" filigree-type="typeTalentsHeader">
            <div class="header-content flexrow">
                <h3 class="flex3">
                {{#each talentRows}}
                    <a class="label {{ @root.rollableClass }} talent-check" data-action="roll" data-talent="{{ long }}">
                        {{label}}    
                    </a> 
                {{/each}}
                </h3>
                <div class="bonus-column flex1">
                    <div class="bonus">
                        {{#each talentRows}}
                            <input type="number" name="system.baseattributes.talents.{{key}}.bonus" value="{{bonus}}" data-dtype="Number">
                        {{/each}}
                    </div>
                </div>
                <div class="talent-values flex1">
                    {{#each talentRows}}
                        <span>{{ value }}</span> 
                    {{/each}}
                    {{#if (eq actor.type "character")}}
                    <div class="eureka">
                        {{#each talentRows}}
                            <input type="number" name="system.baseattributes.talents.{{key}}.eureka" value="{{eureka}}" data-dtype="Number">
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                <div class="total-column flex1">
                    {{#each talentRows}}
                        <span>{{ totalValue }}</span> 
                    {{/each}}
                </div>
            </div>
        </filigree-box>
        <filigree-box class="talents" filigree-type="typeTalents">
            <ol class="items-list talent-list">
                {{#each items}}
                    {{> item-list}}
                {{/each}}
            </ol>
        </filigree-box>
    </div>
{{/inline}}

<div class="talents-container flexrow">
    <div class="left flex1">
        {{> talent-category title="Knowledge" talentRows=talentRows.knowledge items=knowledge}}
    </div>
    <div class="center flex1">
        {{> talent-category title="Action" talentRows=talentRows.action items=action}}
    </div>
    <div class="right flex1">
        {{> talent-category title="Social" talentRows=talentRows.social items=social}}
    </div>
</div>