{{!-- templates/actor/tabs/character=biography.hbs --}}
<div class="biography">
    {{!-- Characteristics --}}
    <div class="top">
        <ul class="unlist characteristics">
            <li>
                <label>
                    <span class="roboto-upper label">{{ localize "HTBAH.Age" }}</span>
                    {{#if @root.editable}}
                    <input type="number" name="system.details.age" value="{{ system.details.age }}" min="0">
                    {{else}}
                    <span class="value">{{ system.details.age }}</span>
                    {{/if}}
                </label>
            </li>
            <li>
                <label>
                    <span class="roboto-upper label">{{ localize "HTBAH.Alignment" }}</span>
                    {{#if @root.editable}}
                    <input type="text" name="system.details.alignment" value="{{ system.details.alignment }}">
                    {{else}}
                    <span class="value">{{ system.details.alignment }}</span>
                    {{/if}}
                </label>
            </li>
            <li>
                <label>
                    <span class="roboto-upper label">{{ localize "HTBAH.Wealth" }}</span>
                    {{#if @root.editable}}
                    <input type="text" name="system.details.wealth" value="{{ system.details.wealth }}">
                    {{else}}
                    <span class="value">{{ system.details.wealth }}</span>
                    {{/if}}
                </label>
            </li>
        </ul>
    </div>

    {{!-- Appearance --}}
    <div class="middle">
        <h3 class="icon">
            <span class="roboto-upper">{{ localize "HTBAH.Appearance" }}</span>
        </h3>
        {{#if @root.editable}}
        <textarea class="untext" name="system.details.appearance">{{ system.details.appearance }}</textarea>
        {{else}}
        <p>{{ system.details.appearance }}</p>
        {{/if}}
    </div>

    {{!-- Biography --}}
    <div class="bottom">
        <h3 class="icon">
            <span class="roboto-upper">{{ localize "HTBAH.Biography" }}</span>
        </h3>
        {{#if @root.editable}}
        <textarea class="untext" name="system.details.background">{{ system.details.background }}</textarea>
        {{else}}
        <p>{{ system.details.background }}</p>
        {{/if}}
    </div>
</div>