{{!-- Consumable Details Card --}}
<div class="sidebar-card">
  <h3>Consumable Details</h3>
  <div class="quantity-field">
    <label for="item-quantity">Quantity:</label>
    <input id="item-quantity" name="system.quantity" type="number" value="{{system.quantity}}" min="1" />
  </div>
  
  <div class="rollable-field">
    <label class="checkbox" for="rollable-checkbox">
      <input type="checkbox" id="rollable-checkbox" name="system.rollable" {{checked system.rollable}} />
      Rollable
    </label>
  </div>
  
  {{!-- Roll Fields --}}
  <div class="roll-fields" style="{{#unless system.rollable}}display: none;{{/unless}}">
    <label for="roll-dice-num">Number of Dice:</label>
    <input id="roll-dice-num" name="system.roll.diceNum" type="number" value="{{system.roll.diceNum}}" min="1" />
    
    <label for="roll-dice-size">Dice Size:</label>
    <select id="roll-dice-size" name="system.roll.diceSize">
      {{selectOptions diceTypes selected=document.system.roll.diceSize}}
    </select>
  </div>
  <div class="formula-field" style="{{#unless system.rollable}}display: none;{{/unless}}">
    <label for="item-formula">Effect Formula:</label>
    <input id="item-formula" name="system.formula" type="text" value="{{system.formula}}" disabled />
  </div>
  <div class="roll-button" style="{{#unless system.rollable}}display: none;{{/unless}}">
    <i class="fas fa-dice-d20" data-action="rollItem" role="button" aria-label="Roll Consumable"></i>
  </div>
</div>