<section class="content">
    <section class="header">
        <div class="top">
            <img src="{{ img }}" alt="{{ name }}">
            <div class="name name-stacked">
                <span class="title">{{ name }}</span>
                <span class="subtitle">{{ type }}</span>
            </div>
        </div>
    </section>
    <section class="description">{{{ description }}}</section>
</section>