<form class="{{cssClass}}" autocomplete="off">
  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{document.img}}" data-action="showPortrait" title="{{document.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="Name" /></h1>
    </div>
    <div class="item-subtitle">
      <h4 class="item-type">{{itemType}}</h4>
    </div>
  </header>

  {{!-- Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "HTBAH.Description" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="sidebar">
      {{!-- Dynamic sidebar content based on item type --}}
      {{#if document.type}}
        {{> (concat "htbah." document.type "-sidebar")}}
      {{else}}
        {{> "htbah.item-sidebar"}}
      {{/if}}
    </div>

    <div class="main-content">
      <div class="tab description" data-group="primary" data-tab="description">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
      
      {{!-- Dynamic main content based on item type --}}
      {{#if document.type}}
        {{> (concat "htbah." document.type "-content")}}
      {{else}}
        {{> "htbah.item-content"}}
      {{/if}}
    </div>
  </section>
</form>