<form class="{{cssClass}}" autocomplete="off">
  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
    <div class="item-subtitle">
      <h4 class="item-type">{{itemType}}</h4>
    </div>
  </header>

  {{!-- Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "HTBAH.Description" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="sidebar">
      <div class="sidebar-card">
        <h3>Item Details</h3>
        <div class="value-field">
          <label for="item-value">Value:</label>
          <input id="item-value" name="system.value" type="number" value="{{item.system.value}}" placeholder="Enter value" />
        </div>
        <div class="calculated-value-field">
          <label for="item-calculated-value">Calculated Value:</label>
          <input id="item-calculated-value" type="text" value="{{item.system.calculatedValue}}" disabled />
        </div>
        
        {{!-- Roll Fields --}}
        <div class="roll-fields">
          <label for="roll-dice-num">Number of Dice:</label>
          <input id="roll-dice-num" name="system.roll.diceNum" type="number" value="{{item.system.roll.diceNum}}" min="1" />
          
          <div class="bonus-controls">
            <label for="roll-dice-bonus">Bonus:</label>
            <div class="bonus-input-group">
              <input id="roll-dice-bonus" type="number" name="system.roll.diceBonus" value="{{item.system.roll.diceBonus}}" min="-99" max="99">
              <i class="fa-solid fa-circle-plus" data-action="incrementBonus"></i>
              <i class="fa-solid fa-circle-minus" data-action="decrementBonus"></i>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="tab description" data-group="primary" data-tab="description">
        <div class="editor">
          <editor-content name="system.description">{{item.system.description}}</editor-content>
        </div>
      </div>
    </div>
  </section>
</form>